.btn {
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.active {
    background-color: red;
}

.active1 {
    background-color: yellow;
}

.primary {
    color: #fff;
    background-color: #007bfe;
}